{% extends '::base.html.twig' %}
{% block title %}{{ document.title }} - Concerto CMS demo{% endblock %}
{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        nav#side ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        nav#side ul li {
            margin: 2px 0px;
        }
        nav#side ul li a {
            color: #666;
            display: block;
            padding: 4px 10px;
            border-radius: 5px;
        }
        nav#side ul li a:hover {
            background-color: #EEE;
            text-decoration: none;
        }
        nav#side ul li.current > a {
            background-color: #911146;
            color: white;
        }
        nav#side ul ul {
            padding-left: 25px;
        }


    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('concerto_cms_demo_splash') }}">Concerto CMS demo</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('concerto_cms_admin_dashboard') }}" target="_blank">Admin</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.request.locale|upper }} <b class="caret"></b></a>
                    {{ knp_menu_render('languagesmenu', {currentClass : 'active', template: 'ConcertoCmsDemoBundle:_Partials:languages.html.twig'}) }}
                </li>
            </ul>
        </div>
    </nav>
    <div class="page-header">
        <div class="container">
            <h1>{{ document.title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {{ document.content|raw }}
            </div>
            <div class="col-md-3">
                <nav id="side">
                {{ knp_menu_render('main-menu/' ~ app.request.locale) }}
                </nav>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="well well-sm">
            This website is a demo of <a href="http://concertocms.org" target="_blank">Concerto CMS</a>, data is reset every few hours. Feel free to report bugs or give feedback on our <a href="https://github.com/concertocms" target="_blank">Github home</a>.
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}